@model List<BillViewModel>

@{
    var role = Context.Items["Role"];
    ViewBag.Role = role;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">UID</th>
            <th scope="col">Block</th>
            <th scope="col">Floor</th>
            <th scope="col">Door</th>
            <th scope="col">Amount [TRY]</th>
            <th scope="col">Bill Type</th>
            <th scope="col">Due Date</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col"></th>
            @if(ViewBag.Role == 0) {
                @* <th scope="col"></th> *@
                <th scope="col"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <td>@item.Block</td>
                <td>@item.Floor</td>
                <td>@item.Door</td>
                <td>@item.Amount</td>
                <td>@item.Type</td>
                <td>@item.DueDate</td>
                <td>@item.UserName</td>
                <td>@item.Phone</td>
                @if (@item.IsPaid == false)
                {
                    <td><a class="btn btn-warning" href="@Url.Action("Pay", "Bills", new { id = item.Id })" role="button">Pay</a></td>
                }
                else
                {
                    <td><a class="btn btn-secondary disabled" href="#" role="button">Paid</a></td>
                }
                @if(ViewBag.Role == 0) {
                    @* <td><a class="btn btn-warning" href="@Url.Action("Edit", "Bills", new { id = item.Id })" role="button">Edit</a></td> *@
                    <td><a class="btn btn-danger" href="@Url.Action("Delete", "Bills", new { id = item.Id })" role="button">Delete</a></td>
                }
            </tr>
        }
    </tbody>
</table>